[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/CPM.cmake"]
	path = external/CPM.cmake
	url = https://github.com/cpm-cmake/CPM.cmake.git
